  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html,
body {
  height: 100%;
}

.grid {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}



.main-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
#timer-clock {
  width: 16vw;
}
.main1 {
  position: relative;
  top: -1vw;
}
.timer-container {
  position: absolute;
  left: 1vw;
  top: 1vw;
}
svg#timer-clock path {
  will-change: auto;
  stroke-width: 0.8vw;
  stroke-miterlimit: round;
  transition: stroke-dashoffset 850ms ease-in-out;
}

.timer {
    position: relative;
}

.counter-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#timer-counter-text {
    color: #000;
    font-family: Poppins;
    font-size: 3.7vw;
    font-weight: 700;
    line-height: 1;
}

.score-data p {
  text-align: center;
  color: #000;
  font-family: Poppins;
  font-size: 1.7vw;
  font-weight: 700;
  line-height: normal;
}

.score-data {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.score-data span {
  color: #fff;
  background-color: #271b6c;
  font-size: 1.4vw;
  padding: 0.3vw 0.7vw;
  border-radius: 0.5vw;
}

.qa-sec {
  width: 100%;
  height: 100%;
  float: right;
}

.qa-cont {
    width: 100%;
    height: 100%;
}
text.circle-styling {
  font-size: 6px;
  text-align: center;
  color: #000;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  line-height: 1;
}
.m1Orb{
  cursor: pointer;
}
.orbit-event {
  pointer-events: none;
  display: none;
}
text.circle-styling.question-text {
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
}

#startTimer{
  cursor: pointer;
}

@keyframes sf-fly-by-1 {
  from {
      transform: translateZ(-600px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(0);
      opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
      transform: translateZ(-1200px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(-600px);
      opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
      transform: translateZ(-1800px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(-1200px);
      opacity: 0.5;
  }
}
.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: 0;
}
.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}

#feedback-popup{
  position: absolute;
  left: 50%;
  bottom: -50px;
  font-size: 30px;
  font-weight: 600;
  color: green;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 550px;
  height: 300px;
  border-radius: 5px;
  z-index: 99999;
}

.modal-content {
  position: relative;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

}

.modal-content h2{
  font-size: 40px;
  font-weight: 600;
  margin: 10px 0px;

}

.modal-content p{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0px;

}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.blur {
  filter: blur(5px);
  pointer-events: none; /* Disable pointer events on the body */
}