  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html,
body {
  height: 100%;
}

.grid {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vw;
  margin: auto;
  width: 100vw;
}

.line {
  position: absolute;
  width: 1.5px;
  height: 100vw;
  top: 0;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #BFBDBE 50%);
  background-size: 1px 20px; */
  /* overflow: hidden; */
}

/* .line::after {
  content: '';
  display: block;
  position: absolute;
  height: 50px;
  width: 4px;
  top: -50%;
  left: -1px;
  animation: drop 5s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  background: #00ff03;
} */
/* 
.line:nth-child(1) {
  left: 5%;
}

.line:nth-child(2) {
  left: 10%;
}

.line:nth-child(3) {
  left: 15%;
}

.line:nth-child(4) {
  left: 20%;
}

.line:nth-child(5) {
  left: 25%;
}

.line:nth-child(6) {
  left: 30%;
}

.line:nth-child(7) {
  left: 35%;
}

.line:nth-child(8) {
  left: 40%;
}

.line:nth-child(9) {
  left: 45%;
}

.line:nth-child(10) {
  left: 50%;
}

.line:nth-child(11) {
  left: 55%;
}

.line:nth-child(12) {
  left: 60%;
}

.line:nth-child(13) {
  left: 65%;
}

.line:nth-child(14) {
  left: 70%;
}

.line:nth-child(15) {
  left: 75%;
}

.line:nth-child(16) {
  left: 80%;
}

.line:nth-child(17) {
  left: 85%;
}

.line:nth-child(18) {
  left: 90%;
}

.line:nth-child(19) {
  left: 95%;
}

.line:nth-child(20) {
  left: 100%;
}

.line:nth-child(21) {
  left: 105%;
}

.line:nth-child(22) {
  left: 110%;
}

.line:nth-child(1)::after {
  animation-delay: 0.5s;
}
.line:nth-child(2)::after {
  animation-delay: 1.8s;
}
.line:nth-child(3)::after {
  animation-delay: 0.2s;
}
.line:nth-child(4)::after {
  animation-delay: 1.7s;
}
.line:nth-child(5)::after {
  animation-delay: 0.9s;
}
.line:nth-child(6)::after {
  animation-delay: 1.25s;
}
.line:nth-child(7)::after {
  animation-delay: 0.55s;
}
.line:nth-child(8)::after {
  animation-delay: 1.33s;
}
.line:nth-child(9)::after {
  animation-delay: 0.46s;
}
.line:nth-child(10)::after {
  animation-delay: 1.13s;
}
.line:nth-child(11)::after {
  animation-delay: 0.5s;
}
.line:nth-child(12)::after {
  animation-delay: 2.5s;
}
.line:nth-child(13)::after {
  animation-delay: 2.6s;
}
.line:nth-child(14)::after {
  animation-delay: 3.2s;
}
.line:nth-child(15)::after {
  animation-delay: 0.1s;
}
.line:nth-child(16)::after {
  animation-delay: 1.4s;
}
.line:nth-child(17)::after {
  animation-delay: 0.5s;
}
.line:nth-child(18)::after {
  animation-delay: 1.3s;
}
.line:nth-child(19)::after {
  animation-delay: 0.6s;
}
.line:nth-child(20)::after {
  animation-delay: 0.3s;
}
.line:nth-child(21)::after {
  animation-delay: 1s;
}
.line:nth-child(22)::after {
  animation-delay: 0.6s;
}

@keyframes drop {
  0% {
     top: -50%;
  }

  100% {
     top: 110%;
  }
}


.y-axis {
  transform: rotate(90deg);
}

.axis {
  width: 100vw;
  height: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

.x-axis {
  transform: rotate(0deg);
} */
.main-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
#timer-clock {
  width: 16vw;
}

.timer-container {
  position: absolute;
  left: 1vw;
  top: 1vw;
}
svg#timer-clock path {
  will-change: auto;
  stroke-width: 0.8vw;
  stroke-miterlimit: round;
  transition: stroke-dashoffset 850ms ease-in-out;
}

.timer {
    position: relative;
}

.counter-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#timer-counter-text {
    color: #fff;
    font-family: Poppins;
    font-size: 2.7vw;
    font-weight: 700;
    line-height: 1;
}

.score-data p {
  text-align: center;
  color: #fff;
  font-family: Poppins;
  font-size: 1.7vw;
  font-weight: 700;
  line-height: normal;
}

.score-data {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.score-data span {
  color: #fff;
  background-color: #45D800;
  font-size: 1.4vw;
  padding: 0.3vw 0.7vw;
  border-radius: 0.5vw;
}

.qa-sec {
  width: 100%;
  height: 100%;
  float: right;
}

.qa-cont {
    width: 100%;
    height: 100%;
}
text.circle-styling {
  font-size: 10px;
  text-align: center;
  color: #000;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
text.circle-styling.question-text {
  font-size: 20px;
}

/* .circle-animation {
  position: relative;
  background: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-circle.circle-animation {
  width: 20vw;
  height: 20vw;
}

.anwser-circle.circle-animation {
  width: 10vw;
  height: 10vw;
}


.circle-animation::after {
  content: '';
  width: calc(100% - 1.5vw);
  height: calc(100% - 1.5vw);
  background-color: #45D800;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-animation p {
  z-index: 1;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 1.4vw;
  font-weight: 300;
  line-height: normal;
  padding: 1vw 1.5vw;
} */
.bg {
  background: url('https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

@keyframes sf-fly-by-1 {
  from {
      transform: translateZ(-600px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(0);
      opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
      transform: translateZ(-1200px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(-600px);
      opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
      transform: translateZ(-1800px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(-1200px);
      opacity: 0.5;
  }
}
.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: 0;
}
.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
      524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
      440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
      -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
      -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
      828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
      624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
      563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
      -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
      -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6px;
  width: 6px;
  border-radius: 50%;
}
.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}


